div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4B2892;
    padding: 10px 20px; 
    color: white;
    font-family: Arial, sans-serif;
  }
  
  
  .navbar-left h1 {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
  }
  

  .navbar-right {
    display: flex;
    gap: 20px; 
  }

  .navbar-right a {
    text-decoration: none; 
    color: white; 
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s ease; 
  }
  
  
  .navbar-right a:hover {
    color: #61dafb; 
  }
  